<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/g.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Documentation</title>
</head>
<body>
    <header>
        <h1>Grapp</h1>
    </header>

    <main>
        <div class="documentation-menu">
            <h2>Навигация</h2>
            <hr>
            <ul>
                <li><a href="#sec1">Начальное окно</a></li>
                <li><a href="#sec2">Рабочая область</a>
                    <ul>
                        <li><a href="#sec2-1">Узлы</a></li>
                        <li><a href="#sec2-2">Рёбра</a></li>
                    </ul>
                </li>
                <li><a href="#sec3">Меню работы с графом</a>
                    <ul>
                        <li><a href="#sec3-1">Вкладка узлы</a></li>
                        <li><a href="#sec3-2">Вкладка рёбра</a></li>
                        <li><a href="#sec3-3">Вкладка граф</a></li>
                        <li><a href="#sec3-4">Вкладка настройки</a></li>
                    </ul>
                </li>
                <li><a href="#sec4">История</a></li>
            </ul>
            <hr>
        </div>
        <div class="documentation">
            <h2 id="sec1">Начальное окно</h2>
            <img src="{{ url_for('static', filename='img/doc_start_panel.png') }}" alt="start window">
            <p>
                При открытии приложения оно состоит из 3-х частей. Слева находится меню работы с графом,
                по центру рабочая область, а справа ведется история действий.
            </p>
            <br>

            <h2 id="sec2">Рабочая область</h2>
            <img src="{{ url_for('static', filename='img/doc_work_panel.png') }}" alt="start window">
            <p>
                В рабочей области отображается текущий граф.
            </p>
            <br>

            <h3 id="sec2-1">Узлы</h3>
            <p>
                Двойным кликом по области создается новая вершина. Двойной клик на вершину удаляет её 
                с графа. Вместе с вершиной удаляются все связанные с ней ребра.
            </p>
            <p>
                Вершины графа можно перемещать по рабочей области. При включенной опции физики, вместе 
                с вершиной перемещается весь граф.
            </p>
            <br>

            <h3 id="sec2-2">Рёбра</h3>
            <p>
                По очередное нажатие на вершины создает между ними ребро. При последовательном, 
                но не двойном клике по вершине, создается ребро-петля. Двойной клик на ребро удаляет его 
                с графа.
            </p>
            <br>

            <h2 id="sec3">Меню работы с графом</h2>
            <p>
                Меню работы с графом состоит из 4-х вкладок.
            </p>
            <img src="{{ url_for('static', filename='img/doc_tab_panel.png') }}" alt="start window">
            <p>
                Каждая из этих вкладок отвечает за свою часть работы с графом.
            </p>
            <br>

            <h3 id="sec3-1">Вкладка узлы</h3>
            <img src="{{ url_for('static', filename='img/doc_node_panel.png') }}" alt="start window">
            <p>
                Вкладка «Узлы» дает возможность редактировать вершины графа. Для этого надо выделить 
                необходимую вершины мышкой или ввести её id в поиск. Далее её данные переносятся в поля, 
                где их можно редактировать. Нажав на кнопку изменить, данные вершины отредактируется на 
                новые. Поле id нельзя изменить, при поиске в поле id имеет смысл писать только числа.
            </p>
            <br>

            <h3 id="sec3-2">Вкладка рёбра</h3>
            <img src="{{ url_for('static', filename='img/doc_edge_panel.png') }}" alt="start window">
            <p>
                Вкладка «Рёбра» работает по схожему принципу, но соответственно с рёбрами графа.
            </p>
            <br>

            <h3 id="sec3-3">Вкладка граф</h3>
            <img src="{{ url_for('static', filename='img/doc_graph_panel.png') }}" alt="start window">
            <p>
                Вкалдка «Граф» дает возможность сохранить граф под введенным именем, открывать и удалять 
                сохраненные графы. Также есть функция очистки рабочей области, это происходит по средству 
                нажатия на кнопку "Очистить". В поле имени можно ввести только кириллицу, латиницу и числа.
            </p>
            <br>

            <h3 id="sec3-4">Вкладка настройки</h3>
            <img src="{{ url_for('static', filename='img/doc_setting_panel.png') }}" alt="start window">
            <p>
                Во вкладке «Настройки» можно включать и выключать физическое взаимодействие вершин. Этот параметр 
                влияет на поведение вершин при их пермещении и сталкивании, а также устремляет их к центру рабочей 
                области.
            </p>
            <p>
                Также, есть возможность изменить начальные цвета вершин и рёбер при создании. По умолчанию они 
                случайные.
            </p>
            <br>

            <h2 id="sec4">История</h2>
            <img src="{{ url_for('static', filename='img/doc_history_panel.png') }}" alt="history window">
            <p>
                История помогает отследить действия проводимые во время сеанса над графом.
            </p>
            <p>
                В поле истории пишится лог проводимых операций над графом. Это как добавление, поиск, 
                редактирование и удаление вершин и рёбер, так и сохранение, открытие и удаление графа.
            </p>
            <p>
                История не сохраняется вместе с графом, а присутствует только во время работы. По нажатию 
                на кнопку "Очистить" история удаляется.
            </p>
            <br>
        </div>    
    </main>

    <footer>
        <p>&copy; 2024 Grapp</p>
    </footer>
</body>
</html>